[Unit]
Description=PLDM soft power off app
Wants=pldmd.service
After=pldmd.service
Before=obmc-host-stop-pre@0.target
Conflicts=obmc-host-startmin@0.target

[Service]
Restart=no
ExecStart=/usr/bin/pldm-softpoweroff
Type=oneshot
