[submodule "lcov"]
	path = src/build/tools/extern/lcov
	url = https://github.com/linux-test-project/lcov.git

	# We do not want this submodule to be cloned automatically when
	# the Hostboot repo is recursively cloned, because not everyone
	# will need to run with code coverage.
	# This is pulled on-demand when users build an lcov report.
	update = none

[submodule "ppe"]
	path = src/build/tools/extern/ppe
	url = ssh://hostboot.gerrit/hw/ppe
	update = none

	# Ignore any change done in the repo (except
	# for changes to the head commit)
	# such as files created with "make install."
	ignore = dirty

[submodule "ekb"]
	path = src/build/tools/extern/ekb
	url = ssh://hostboot.gerrit/hw/ekb
	update = none

	# Ignore any change done in the repo (except
	# for changes to the head commit)
	# such as files created with "make install."
	ignore = dirty

[submodule "src/build/tools/extern/sbe"]
	path = src/build/tools/extern/sbe
	url = ssh://hostboot.gerrit/hw/sbe
    update = none

    # Ignore any change done in the repo (except
    # for changes to the head commit)
    # such as files created with "make install."
    ignore = dirty
