[Unit]
Description=Phosphor PLDM Daemon
Wants=xyz.openbmc_project.biosconfig_manager.service
After=xyz.openbmc_project.biosconfig_manager.service

[Service]
Restart=always
Type=dbus
BusName=xyz.openbmc_project.PLDM
EnvironmentFile=/etc/default/pldm_verbosity
ExecStart=/usr/bin/pldmd --verbose $VERBOSE

[Install]
WantedBy=multi-user.target
