[Unit]
Description=Create empty PHYP-NVRAM-CKSUM file
Wants=obmc-vpnor-updatesymlinks.service
After=obmc-vpnor-updatesymlinks.service
Wants=obmc-flash-bios-init.service
After=obmc-flash-bios-init.service
ConditionPathExists=!/var/lib/phosphor-software-manager/hostfw/nvram/PHYP-NVRAM-CKSUM

[Service]
ExecStart=/usr/bin/create-NVRAM-cksum-file
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=pldmd.service
