[Unit]
Description=Create empty PHYP-NVRAM file
ConditionPathExists=!/var/lib/pldm/PHYP-NVRAM

[Service]
ExecStart=/bin/mkdir -p /var/lib/pldm/
ExecStart=/bin/dd if=/dev/zero of=/var/lib/pldm/PHYP-NVRAM bs=1024 count=145408
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=pldmd.service
